/* GLOBAL */
@font-face {
    font-family: Stolzl Light; 
    src: url(11450.otf); 
   }
body {
	font-family: 'Stolzl Light', sans-serif;
	font-size: 1.1em;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
a:link,
a:visited,
a:active {
	color: #000;
}
/* NAVIGATION */
ul {
	list-style-type: none;
}
ul li {
	display: inline;
	margin-right: 20px;
}
.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}
.navigation li:first-child {
	margin-right: auto;
}
ul.navigation {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top: 0;
	margin-bottom: 0;
}
/* UNDERLINE FOR NAV */
li {
	position: relative;
	color: #000;
  	display: inline-block;
}
li:hover {
	cursor: pointer;
}
.nav-item:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #000;
  	visibility: hidden;
  	transition: all 0.3s ease-in-out 0s;
  	transform: scaleX(0);
}
.nav-item:hover:before {
  	visibility: visible;
  	transform: scaleX(1);
}
#logoimg {
	width: 60px;
}
/* SHOWCASE */
#showcase {
	position: absolute;
	width: 100%;
	min-height: 570px;
	text-align: center;
	color: #000;
}
#showcase .bg-image {
	position: absolute;
	min-height: 595px;
	background: url('../img/1t.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	z-index: -1;
}
#showcase h1 {
	margin-top: 250px;
	font-size: 3.5em;
}
/*#showcase .h {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}*/
#showcase p {
	margin-top: -20px;
}
#down-arrow {
	padding-top: 100px;
	width: 40px;
	fill: #000;
	opacity: 0.6;
	margin: auto;
}
#down-arrow:hover {
	opacity: 1;
	transition: 0.5s ease;
	cursor: pointer;
}
/* GALLERY */
#gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
}
.gallery-item {
	height: 500px;
	width: 50%;
}
#gallery img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 1px solid #ccc;
}
/* TEXT FOR IMIGES */
.gallery-item {
	display: inline-block;
	position: relative;
}
.gallery-item span {
	display:inline-block;
    position:absolute;
    top:30px;   
    left:0px;
    /* TEXT DECORATION */
    color:#FFF;
    font-family: 'Stolzl Light', sans-serif;
    font-size:20px; 
    /* BACKGROUND */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}
/* ABOUT US */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.container .client-photo {
	width: 30%;
	margin: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.about-us {
	width: 70%;
	margin: auto;
	text-align: center;
}
.about-us h1 {
	margin-top: 650px;
}
.about-us img {
	width: 50%;
}
/* FEEDBACK */
.feedback-text {
	width: 90%;
	margin: auto;
	padding: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	margin-bottom: 30px;
}
.feedback {
	width: 100%;
	text-align: center;
}
.mark {
	width: 20px;
	padding-left: 10px;
}
h1 {
	text-align: center;
	font-family: 'Chewy', cursive;
	font-size: 2.5em;
}
/* CONTACTS */
.useful-inf {
	text-align: center;
}
.useful-inf img {
	width: 60px;
	margin-right: 10px;
	margin-left: 10px;
}
.useful-inf a:hover {
	cursor: pointer;
}
/* MAP */
#map {
	width: 100%;
    height: 400px;
    background-color: grey;
}
.directions {
	text-align: center;
}
/* MEDIA QUERIES */
@media all and (max-width:800px) {
	.navigation {
		justify-content: space-around;
	}
	.navigation li:first-child {
		width: 100%;
		text-align: center;
	}
	.gallery-item {
		width: 100%;
	}
	.about-us img {
	width: 100%;
	}
	.container .client-photo {
	width: 100%;
	}
	ul li {
		margin-bottom: 2%;
	}
}
@media all and (max-width:500px) {
	.navigation {
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
	}
	.gallery-item {
		width: 100%;
	}
	.about-us img {
	width: 100%;
	}
	.container .client-photo {
	width: 100%;
	}
	ul li {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}